*{
	margin: 0px;
	padding: 0px;
}
#main_section{
	padding: 10px 0px;
	background-color: #faa;
	overflow: auto;
	box-sizing: border-box;
}

#main_section #left{
	box-sizing: border-box;
	width:35%;
	float: left;

	background-color:#fff;
	
}
#main_section #right{
	box-sizing: border-box;
	width:58%;
	
	float: right;
	background-color:#aaf;
}


#main_section #left div{
	width: 95%;
	margin: 0px auto;
	margin-bottom: 10px;
	background-color: #eee;
}
#main_section #left div h2{
text-indent: 10%;
}




#main_section #right div{
	width: 95%;
	margin: 0px auto;
	margin-bottom: 10px;
	background-color: #eee;
}
#main_section #right div h2{
text-indent: 10%;
}