html,body,section{
	margin: 0px;
	padding: 0px;
}
#main_section{
	padding: 10px 0px;
	background-color: rgb(245, 233, 233);
	overflow: auto;
	width:85%;
	margin: 0px auto;
	padding: 10px;
	font-family: 'Playfair Display', serif;
	box-sizing: border-box;
}

#main_section h2{
	font-family: 'Playfair Display', serif;
}

#main_section #left{
	box-sizing: border-box;
	width:35%;
	box-shadow:2px 2px 3px #000;
	float: left;
	padding: 5px;
	background-color:#fff;
	
}
#main_section .contact{
	font-size:20px;
}



#left .name img{
	width:200px;
	height:200px;
	border-radius: 100%;
	margin: 0px auto;
	display: block;
}


.language > div {
	background-color: #faa !important;

width: 70% !important;
	border-radius: 1%;
	height:25px;

	border-radius: 0px 10px 10px 0px;
}


.language{padding: 5px 0px;}
.language h3{
margin: 0px;
padding: 0px;	
text-indent: 10% !important;
}

.language > div P{
	width:40%;
	text-align: center;
	height: 25px;
	border-radius: 0px 10px 10px 0px;
	background-color: aquamarine !important;
}
.language div .fr{
	width:80%;
}

.language div .en{
	width:90%;
}


.language div .kn{
	width:95%;
}

.language div .lu{
	width:90%;
}
.language div .sw{
	width:70%;
}








.hobby_table {
	width: 100%;
	font-size: 20px;
	text-align: center;
}








/* Design of the right section*/

#main_section #right{
	box-sizing: border-box;
	width:58%;
	padding:5px;
	box-shadow:2px 2px 3px #000;
	float: right;
	background-color:#fff;

}

#main_section #right dd {

}


#main_section #left div{
	width: 95%;
	margin: 0px auto;
	margin-bottom: 10px;
	background-color: #eee;
}
#main_section #left div h2{
text-indent: 10%;
}




#main_section #right div{
	width: 95%;
	margin: 0px auto;
	margin-bottom: 10px;
	background-color: #eee;
}
#main_section #right div h2{
text-indent: 10%;
}


#main_section #right .ref{
width: 45%;
float: left;
}


#main_section #right .soft{
width: 45%;
float:right;	
}
.ref_soft{
	padding: 5px 0px;
	overflow: auto;

}
